<a href="https://colab.research.google.com/github/aruaru0/kaggle_h_and_m/blob/main/%E5%BE%8C%E5%8D%8A%E5%87%A6%E7%90%86H%26M%E3%82%AB%E3%82%B9%E3%82%BF%E3%83%9EID%E3%81%A7item2vec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tqdm
from collections import defaultdict
import json
from gensim.models import word2vec
import multiprocessing
cpu = multiprocessing.cpu_count()

In [ ]:
with open("/content/drive/MyDrive/datas/h_and_m/custvec/result.json", "r") as f :
  result = json.load(f)

In [ ]:
with open("/content/drive/MyDrive/datas/h_and_m/custvec/custdict.json", "r") as f :
  custd = json.load(f)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/datas/h_and_m/sample_submission.csv")

In [ ]:
df.head()

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...

## submissionを構成する

In [ ]:
pred = []

num = 0
for cust_id in tqdm.tqdm(df['customer_id']) :
  r = result[cust_id]
  l = []
  for id, _ in r :
    if id in custd :
      l += custd[id]
  l.sort(reverse=True)

  sel = set()
  rest = []
  for day, item in l :
    month = day[5:7]
    if month == '09' or month == '10' :
      sel.add(item)
    else :
      rest.append(item) 
    if len(sel) == 12 : break


  for item in rest :
    if len(sel) == 12 : break
    sel.add(item)

  pred.append(" ".join(sel))
  # num+=1
  # if num == 10 :  break

100%|██████████| 1371980/1371980 [02:13<00:00, 10302.19it/s]

                                                         0
0        0591334035 0832995001 0399061028 0751788001 05...
1        0777124004 0784229004 0792695001 0189634001 07...
2        0715303007 0458543001 0501820004 0552471019 05...
3        0853881001 0732413001 0554450005 0680262001 07...
4        0771557008 0717256001 0678694003 0777043002 05...
...                                                    ...
1371975  0881887001 0802023006 0880553002 0811927002 08...
1371976  0741827001 0772902004 0711053003 0745232001 07...
1371977  0742429002 0768977001 0761620002 0678086007 07...
1371978  0554541060 0681179002 0706016002 0905811001 08...
1371979        0749974003 0874816003 0723882001 0835348008

[1371980 rows x 1 columns]

In [ ]:
df['prediction'] = pred
df.head(5)

,customer_id,prediction,pred
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0591334035 0832995001 0399061028 0751788001 05...,0591334035 0832995001 0399061028 0751788001 05...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0777124004 0784229004 0792695001 0189634001 07...,0777124004 0784229004 0792695001 0189634001 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0715303007 0458543001 0501820004 0552471019 05...,0715303007 0458543001 0501820004 0552471019 05...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0853881001 0732413001 0554450005 0680262001 07...,0853881001 0732413001 0554450005 0680262001 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0771557008 0717256001 0678694003 0777043002 05...,0771557008 0717256001 0678694003 0777043002 05...

In [ ]:
df.to_csv("/content/drive/MyDrive/datas/submission.csv",columns=['customer_id', 'prediction'], index=False)

In [ ]:
len(df)

1371980